body
{
    color: green;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#header
{
    background: url("../images/millon.jpg") no repeat center center;
    color: #ddd;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.75);
    font-weight: bold;
    margin: 0;
    padding: 0.5 em 0 0.5em 2em;
}


#cabecera #logo


#header tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em; 
}


#container
{
    width: 70%;
    padding: 0;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#post
{
    padding: 1em;

}

